<ion-view view-title="Map" class="custom">  
    
    
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <ion-content ng-controller="MapCtrl">
          
            <div id="map_canvas" data-tap-disabled="true"></div>
            
                <div class="row">
                      <ion-item class="item-profile" ng-repeat="member in Family" ng-click="showLocation($index)">
                            <img class="avatar" ng-src="{{member.profileImage}}">
                        
                      </ion-item>  
                </div>
                  
          
        </ion-content>
      
</ion-view>
